<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-projectDash" data-bs-toggle="collapse" aria-expanded="true"
         routerLinkActive="active">
        <i class="bi bi-grid"></i> <span>Project Dashboard</span>
        <i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="components-projectDash" class="nav-content collapse" data-bs-parent="#sidebar-nav">

        <li>
          <a routerLink="/business-admin/project-management" routerLinkActive="active">
            <i class="bi bi-circle"></i><span>Project Management</span>
          </a>
        </li>
        <li>
          <a routerLink="/business-admin/products" routerLinkActive="active">
            <i class="bi bi-circle"></i><span>Product Management</span>
          </a>
        </li>
        <li>
          <a routerLink="/business-admin/dosages" routerLinkActive="active">
            <i class="bi bi-circle"></i><span>Dosage Type Management</span>
          </a>
        </li>
        <li>
          <a routerLink="/business-admin/test" routerLinkActive="active">
            <i class="bi bi-circle"></i><span>Test Management</span>
          </a>
        </li>

      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" aria-expanded="true">
        <i class="bi bi-menu-button-wide"></i><span>Business Admin</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="components-nav" class="nav-content collapse" [ngClass]="{ show: toggleBusinessAdmin }"
        data-bs-parent="#sidebar-nav">
        <li>
          <a routerLink="/business-admin/users" routerLinkActive="active">
            <i class="bi bi-circle"></i><span>User Management</span>
          </a>
        </li>
        <li>
          <a routerLink="/business-admin/team" routerLinkActive="active">
            <i class="bi bi-circle"></i><span>Team Management</span>
          </a>
        </li>

      </ul>
    </li>
      <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-formulations" data-bs-toggle="collapse"
        aria-expanded="true">
        <i class="bi bi-menu-button-wide"></i><span>Formulations Dashboard</span><i
          class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="components-formulations" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a routerLink="/business-admin/inward-management" routerLinkActive="active">
            <i class="bi bi-circle"></i><span>Inward Management</span>
          </a>
        </li>
        <li>
          <a routerLink="/forms-page/projects" routerLinkActive="active">
            <i class="bi bi-circle"></i><span>Projects</span>
          </a>
        </li>
        <li>
          <a routerLink="/forms-page/experiments" routerLinkActive="active">
            <i class="bi bi-circle"></i><span>Experiments</span>
          </a>
        </li>
        <li>
          <a routerLink="/forms-page/review-formulations" routerLinkActive="active">
            <i class="bi bi-circle"></i><span>Review Experiments</span>
          </a>
        </li>
      </ul>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-analysis" data-bs-toggle="collapse"
        aria-expanded="true">
        <i class="bi bi-menu-button-wide"></i><span>Analysis Dashboard</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <!--  [ngClass]="{ show: toggleBusinessAdmin }" -->
      <ul id="components-analysis" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a routerLink="/business-admin/inward-management" routerLinkActive="active">
            <i class="bi bi-circle"></i><span>Inward Management</span>
          </a>
        </li>
        <li>
          <a routerLink="/exp-analysis/list" routerLinkActive="active">
            <i class="bi bi-circle"></i><span>Test Request Forms</span>
          </a>
        </li>
        <li>
          <a routerLink="/exp-analysis/analysis-experiments" routerLinkActive="active">
            <i class="bi bi-circle"></i><span>Analysis Experiments</span>
          </a>
        </li>
        <li>
          <a routerLink="/exp-analysis/projects" routerLinkActive="active">
            <i class="bi bi-circle"></i><span>Projects</span>
          </a>
        </li>
        <li>
          <a routerLink="/exp-analysis/review-list" routerLinkActive="active">
            <i class="bi bi-circle"></i><span>Review Experiments</span>
          </a>
        </li>
      </ul>
    </li>

  </ul>
</aside>