<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
        <i class="bi bi-grid"></i> <span>Project Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" aria-expanded="true">
        <i class="bi bi-menu-button-wide"></i><span>Business Admin</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="components-nav" class="nav-content collapse" [ngClass]="{ show: toggleBusinessAdmin }"
        data-bs-parent="#sidebar-nav">
        <li>
          <a routerLink="/business-admin/users" routerLinkActive="active">
            <i class="bi bi-circle"></i><span>User Management</span>
          </a>
        </li>
        <li>
          <a routerLink="/business-admin/products" routerLinkActive="active">
            <i class="bi bi-circle"></i><span>Product Management</span>
          </a>
        </li>
        <li>
          <a routerLink="/business-admin/dosages" routerLinkActive="active">
            <i class="bi bi-circle"></i><span>Dosage Type Management</span>
          </a>
        </li>
        <li>
          <a routerLink="/business-admin/test" routerLinkActive="active">
            <i class="bi bi-circle"></i><span>Test Case Management</span>
          </a>
        </li>
        <li>
          <a routerLink="/business-admin/team" routerLinkActive="active">
            <i class="bi bi-circle"></i><span>Team Management</span>
          </a>
        </li>
        <li>
          <a routerLink="/business-admin/inward-management" routerLinkActive="active">
            <i class="bi bi-circle"></i><span>Inward Management</span>
          </a>
        </li>
        <li>
          <a routerLink="/business-admin/project-management" routerLinkActive="active">
            <i class="bi bi-circle"></i><span>Project Management</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
        <i class="bi bi-grid"></i> <span>Project Dashboard</span>
      </a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link" routerLink="/forms-page" routerLinkActive="active">
        <i class="bi bi-grid"></i> <span>Formulations Dashboard</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/test-request-form" routerLinkActive="active">
        <i class="bi bi-grid"></i> <span>Test Request Form</span>
      </a>
    </li>

  </ul>
</aside>