<main id="main" class="main">
  <div class="pagetitle">
    <h1>Project Management</h1>
  </div>
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="align-header">
              <h5 class="card-title">Projects</h5>
              <div class="align-button">
                <a routerLink="/business-admin/project-management/add-project">
                  <button type="button" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> Add Project
                  </button>
                </a>
              </div>
            </div>

            <table
              datatable
              [dtOptions]="dtOptions"
              [dtTrigger]="dtTrigger"
              class="row-border hover"
            >
              <thead>
                <tr>
                  <th>Project Name</th>
                  <th>Product Name</th>
                  <th>Product Code</th>
                  <th>Project ID</th>
                  <th>Dosage Name</th>
                  <th>Formulation Type</th>
                  <th>Strength</th>
                  <th>Formulation Department</th>
                  <th>Status</th>
                  <th>Options</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let project of projects">
                  <td>{{ project.projectName }}</td>
                  <td>{{ project.productName }}</td>
                  <td>{{ project.productCode }}</td>
                  <td>{{ project.projectId }}</td>
                  <td>{{ project.dosageName }}</td>
                  <td>{{ project.formulationName }}</td>
                  <td>{{ project.strength }}</td>
                  <td>{{ project.formulationName }}</td>
                  <td>{{ project.status }}</td>
                  <td class="options-width">
                    <i
                      (click)="editProject(project)"
                      class="editIcon ri-edit-2-fill"
                    ></i>
                    &nbsp;&nbsp;
                    <i
                      type="button"
                      data-bs-toggle="modal"
                      data-bs-target="#deleteForm"
                      (click)="confirmInwardDeletetion(project)"
                      class="deleteIcon ri-delete-bin-5-fill"
                    ></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<!-- (click)="saveInward()" -->
<div class="modal fade" id="deleteForm" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Inward</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this Project?
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          #closeDeleteButton
        >
          Close
        </button>
        <!--  -->
        <button type="button" class="btn btn-primary" (click)="deleteProject()">
          <!--  -->
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
