<main id="main" class="main">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">User Form</h5>
      <form class="row g-3" [formGroup]="userForm">
        <div class="col-6">
          <label for="firstName" class="form-label">First Name</label>
          <input
            type="text"
            class="form-control"
            id="firstName"
            formControlName="firstName"
          />
        </div>
        <div
          *ngIf="
            userForm.controls['firstName'].invalid &&
            (userForm.controls['firstName'].dirty ||
              userForm.controls['firstName'].touched) &&
            userForm.get('firstName')?.errors &&
            userForm.get('firstName')?.hasError('required')
          "
          class="text-danger"
        >
          Please enter Product Name
        </div>
        <div class="col-6">
          <label for="lastName" class="form-label">Last Name</label>
          <input
            type="text"
            class="form-control"
            id="lastName"
            formControlName="lastName"
          />
        </div>
        <div class="col-6">
          <label for="dateOfBirth" class="form-label">Date of birth</label>
          <input
            type="date"
            class="form-control"
            id="dateOfBirth"
            formControlName="dateOfBirth"
          />
        </div>
        <div class="col-6">
          <label for="gender" class="form-label">Gender</label>
          <select
            class="form-select"
            aria-label="Gender"
            formControlName="gender"
          >
            <option *ngFor="let gender of genderList" [ngValue]="gender.value">
              {{ gender.label | titlecase }}
            </option>
          </select>
        </div>
        <div class="col-6">
          <label for="deptId" class="form-label">DepartmentId</label>
          <select
            class="form-select"
            aria-label="Department Id"
            formControlName="deptId"
          >
            <option *ngFor="let dept of departmentList" [ngValue]="dept.deptId">
              {{ dept.departmentName | titlecase }}
            </option>
          </select>
        </div>
        <div class="col-6">
          <label for="roleId" class="form-label">Role Id</label>
          <select
            class="form-select"
            aria-label="Role Id"
            formControlName="roleId"
          >
            <option
              *ngFor="let userRole of userRoles"
              [ngValue]="userRole.roleId"
            >
              {{ userRole.roleName | titlecase }}
            </option>
          </select>
        </div>
        <div class="col-6">
          <label for="contactNo" class="form-label">Contact Number</label>
          <input
            type="number"
            class="form-control"
            id="contactNo"
            formControlName="contactNo"
          />
        </div>
        <div class="col-6">
          <label for="mailId" class="form-label">Mail Id</label>
          <input
            type="email"
            class="form-control"
            id="mailId"
            formControlName="mailId"
          />
        </div>
        <div class="col-6">
          <label for="addressLine1" class="form-label">Address Line 1</label>
          <input
            type="text"
            class="form-control"
            id="addressLine1"
            formControlName="addressLine1"
          />
        </div>
        <div class="col-6">
          <label for="addressLine2" class="form-label">Address Line 2</label>
          <input
            type="text"
            class="form-control"
            id="addressLine2"
            formControlName="addressLine2"
          />
        </div>
        <div class="col-6">
          <label for="city" class="form-label">City</label>
          <input
            type="text"
            class="form-control"
            id="city"
            formControlName="city"
          />
        </div>
        <div class="col-6">
          <label for="zipCode" class="form-label">ZipCode</label>
          <input
            type="number"
            class="form-control"
            id="zipCode"
            formControlName="zipCode"
          />
        </div>
        <div class="col-6">
          <label for="teamId" class="form-label">Team Id</label>

          <select
            class="form-select"
            aria-label="Teams"
            formControlName="teamId"
          >
            <option *ngFor="let team of teams" [ngValue]="team.teamId">
              {{ team.teamName | titlecase }}
            </option>
          </select>
        </div>
      </form>
      <div class="text-center pt-4">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="redirectToUsers()"
          #closeButton
        >
          Close
        </button>
        &nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-primary" (click)="saveUser()">
          Save
        </button>
      </div>
    </div>
  </div>
</main>
