<main>
    <div class="container">
    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
    <div class="container">
    <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
    <div class="d-flex justify-content-center py-4"> <a routerLink="/" class="logo d-flex align-items-center w-auto"> <img src="assets/img/logo.png" alt=""> <span class="d-none d-lg-block">ELN</span> </a></div>
    <div class="card mb-3">
    <div class="card-body">
    <div class="pt-4 pb-2">
    <h5 class="card-title text-center pb-0 fs-4">Update Password</h5>
    </div>
    <form class="row g-3 needs-validation" [formGroup]="updateForm" novalidate>
    <div class="col-12">
    <label for="yourUsername" class="form-label">Username</label>
    <div class="input-group has-validation">
    <span class="input-group-text" id="inputGroupPrepend">@</span> <input type="text" name="username"  [(ngModel)]="username" formControlName="username"  class="form-control" id="yourUsername" required readonly >
   <!-- <div class="invalid-feedback">Please enter your username.</div> -->
    </div>
    </div>
    <div class="col-12">
      <label for="yourPassword" class="form-label">New Password</label>
       <div class="input-group">
      <input
        [type]="showNewPassword ? 'text' : 'password'"
        name="newpassword"
        (keydown)="Space($event)"
        (keypress)="space($event)"
        [(ngModel)]="newpassword"
        formControlName="newpassword"
        class="form-control"
        id="yourPassword"
        required
        [ngClass]="{'is-invalid': isSubmitted && (updateForm.get('newpassword')?.hasError('required') || updateForm.hasError('notSame') || updateForm.get('newpassword')?.hasError('pattern') || updateForm.get('newpassword')?.hasError('minlength') || updateForm.get('newpassword')?.hasError('noWhitespace'))}"
      />
      <span class="input-group-text" (click)="toggleNewPassword()" style="cursor: pointer;">
      <i class="bi" [ngClass]="showNewPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
    </span>
      <div *ngIf="isSubmitted && updateForm.get('newpassword')?.hasError('required')" class="invalid-feedback">
        Password is required.
      </div>
      <div *ngIf="isSubmitted && updateForm.get('newpassword')?.hasError('pattern')" class="invalid-feedback">
        Password must include at least one uppercase letter, one lowercase letter, one number, and one special character.
      </div>
    </div>
    </div>
      <div class="col-12">
        <label for="yourPassword" class="form-label">Confirm Password</label>
         <div class="input-group">
        <input
         [type]="showConfirmPassword ? 'text' : 'password'"
          name="confirmpassword"
          (keydown)="Space($event)"
          (keypress)="space($event)"
          [(ngModel)]="confirmpassword"
          formControlName="confirmpassword"
          class="form-control"
          id="yourPassword"
          required
          [ngClass]="{'is-invalid': isSubmitted && updateForm.get('confirmpassword')?.hasError('required') || updateForm.hasError('notSame')}"
        />  
        <span class="input-group-text" (click)="toggleConfirmPassword()" style="cursor: pointer;">
        <i class="bi" [ngClass]="showConfirmPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
       </span>
        <div *ngIf="isSubmitted && updateForm.get('confirmpassword')?.hasError('required')" class="invalid-feedback">
          Please confirm your password!
        </div>
        <div *ngIf="isSubmitted && updateForm.hasError('notSame')" class="invalid-feedback">
          Passwords do not match.
        </div>
        </div>
      </div>
    <div class="col-12">
    <button class="btn btn-primary w-100" (click)="onSubmit()" type="submit">Update Password</button>
    </div>
    </form>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>
    </div>
</main>
