<main id="main" class="main">
  <div class="pagetitle">
    <h1>Analysis Dashboard</h1>
  </div>
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="align-header">
              <h5 class="card-title">Test Request Forms List</h5>
            </div>
            <div class="tableNgx">
              <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                <thead>
                  <tr>
                    <th></th>
                    <th>Project Name</th>
                    <th>TRF Request Id</th>
                    <th>Product Name</th>
                    <th>Batch Number</th>
                    <th>Date Created</th>
                    <th>Condition</th>
                    <th>Test Required</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let trf of trfList">
                    <td>
                      <input *ngIf="trf && trf.testRequestFormStatus.toUpperCase() === 'New'.toUpperCase()"
                        class="form-check-input" type="checkbox" id="gridCheck1" (click)="onCheckboxClick(trf)" />
                    </td>
                    <td>
                      {{ trf.projectName | titlecase }}
                    </td>
                    <td>
                      {{ trf.testRequestFormId }}
                    </td>
                    <td>{{ trf.productName }}</td>
                    <td>{{ trf.batchNumber }}</td>
                    <td>{{ trf.insertDate }}</td>
                    <td>{{ trf.condition }}</td>
                    <td>{{ trf.testRequestFormStatus }}</td>
                    <td>{{ trf.status }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="text-end">
              <button type="submit" class="btn btn-primary margin-up" (click)="createExperiment()">
                Create Experiment
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<div class="modal fade" id="deleteForm" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete User</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">Are you sure you want to delete this User?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" #closeDeleteButton>
          Close
        </button>
        <!-- <button type="button" class="btn btn-primary" (click)="deleteUser()">
          Delete
        </button> -->
      </div>
    </div>
  </div>
</div>
