<main id="main" class="main body-height">
  <div class="pagetitle">
    <h1>Review Experiments</h1>
  </div>
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="align-header">
              <h5 class="card-title">Experiments</h5>
            </div>
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover pt-4">
              <thead>
                <tr>
                  <th>S.No</th>
                  <th>Experiment Name</th>
                  <th>Batch No.</th>
                  <th>Batch Size</th>
                  <th>Project ID</th>
                  <th>Formulation Type</th>
                  <th>Strength</th>
                  <th>Status</th>
                  <th>Options</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of myExperiments; let i = index">
                  <td>{{i + 1}}</td>
                  <td>
                    {{ user.experimentName | titlecase }}
                  </td>
                  <td>{{ user.batchNumber }}</td>
                  <td>{{ user.batchSize }}</td>
                  <td>{{ user.projectId }}</td>
                  <td>{{ user.project.formulationName}}</td>
                  <td>{{ user.project.strength}}</td>
                  <td>{{ user.status }}</td>
                  <td>
                    <i class="btn btn-link" (click)="onRowClick(user)">
                      Review
                    </i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>