<div class="cc_loading" [hidden]="!isLoadingEnabled()">
  <div class="loader-height" [hidden]="!isLoadingEnabled()">
    <div class="spinner-grow btn-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow btn-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow btn-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</div>
<app-header></app-header>
<app-sidebar></app-sidebar>
<router-outlet></router-outlet>
<app-footer></app-footer>
