<main id="main" class="main">
  <div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </nav>
  </div>
  <section class="section">
    <div class="row">
       <div class="col-lg-6">
          <div class="card">
             <div class="card-body">
                <h5 class="card-title">Projects Initiated</h5>
                <canvas id="lineChart" style="max-height: 400px;">{{lineChart}}</canvas>
             </div>
          </div>
       </div>
       <div class="col-lg-6">
          <div class="card">
             <div class="card-body">
                <h5 class="card-title">Formulation Experiments</h5>
                <canvas id="barChart" style="max-height: 400px;">{{barChart}}</canvas>
                
             </div>
          </div>
       </div>
       
        <div class="col-lg-6">
          <div class="card">
             <div class="card-body">
                <h5 class="card-title">Formulation Experiments Status</h5>
                <canvas id="pieChart" style="max-height: 400px;">{{pieChart}}</canvas>
               
             </div>
          </div>
       </div>
      <div class="col-lg-6">
          <div class="card">
             <div class="card-body">
                <h5 class="card-title">TRF Satus</h5>
                <canvas id="doughnutChart" style="max-height: 400px;">{{doughnutChart}}</canvas>
               
             </div>
          </div>
       </div>
       <div class="col-lg-6">
         <div class="card">
            <div class="card-body">
               <h5 class="card-title">Analsys Experiments</h5>
               <canvas id="analsysbarChart" style="max-height: 400px;">{{analsysBarChart}}</canvas>
               
            </div>
         </div>
      </div>
    </div>
 </section>
</main>
<app-header></app-header>  
<app-sidebar></app-sidebar>