<main>
    <div class="container">
    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
    <div class="container">
    <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
            <div class="d-flex justify-content-center py-4"> <a routerLink="/" class="logo d-flex align-items-center w-auto"> <img src="assets/img/logo.png" alt=""> <span class="d-none d-lg-block">ELN</span> </a></div>
            <div class="card mb-3">
            <div class="card-body">
             <div class="pt-4 pb-2">
             <p class="text-center small">Enter the code we just send on your Email<b class="text-danger">*******@gmail.com</b></p>
             </div>
            <form   class="row g-3 needs-validation" [formGroup]="OtpForm"  novalidate>
                <div class="col-12">
                    <label for="yourUsername" class="form-label" hidden>Username</label>
                    <div class="input-group has-validation">
                    <span class="input-group-text" id="inputGroupPrepend" hidden>@</span> <input type="text" name="username" [(ngModel)]="username" formControlName="Username" class="form-control" id="username" hidden required>
                    <div class="invalid-feedback">Please enter your username.</div>
                    </div>
                    </div>
            <div class="col-12">
            <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend">OTP</span> <input type="text" name="Otp" [(ngModel)]="Otp" formControlName="Otp" class="form-control" id="Otp" required>
            <div class="invalid-feedback">Please enter OTP</div>
            </div>
            </div>
            <div class="col-12"> <button class="btn btn-primary w-100" type="submit" (click)="onSubmit()">submit</button></div>
            <div class="text-center mt-5">
                <span class="d-block mobile-text">Didn't receive the code?</span>
                <div class="col-12"> <button class="btn btn-primary w-10"  type="submit" (click)="ResendOtp()">Resend OTP</button></div> 
            </div>
            </form>
            </div>
            </div>
            </div>
    </div>
    </div>
    </section>
    </div>
    </main>
    