.align-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .align-button {
    text-align: end;
    align-self: center;
  }
  
  .loader-height {
    min-height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .tableNgx ::ng-deep label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
  }
  
  .tableNgx ::ng-deep .text-right {
    text-align: right;
  }
  .tableNgx ::ng-deep{
     .form-control {
      border-radius: 0.25rem !important;
    }
  }
  
  .options-width{
    width: 200px;
  }
  